button,
.button {
  color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  &:focus {
    outline: none;
  }

  //button-size

  &-large {
    font-size: 1.125rem;
    line-height: 18px;
    margin: 0.9375rem auto;
    padding: 0.9375rem;
    max-width: 300px;
    min-width: 120px;
  }

  &-medium {
    display: inline-block;
    padding: 8px 32px;
  }

  &-small {
    display: inline-block;
    padding: 8px 24px;

    .icon {
      height: 0.8rem;
      width: 1.2rem;
      margin-right: 2px;
      display: inline-block;
      vertical-align: baseline;
    }
  }

  //button-colours

  &-blue {
    background: $blue;
    transition: all 500ms ease;
    &:hover {
      background: $blue;
      color: $white;
    }
  }

  &-grey {
    background: $grey;
  }

  //button-secondary

  &-secondary {
    border: 1px solid;

    &.secondary-blue {
      border-color: $blue;
      color: $blue;
      margin-bottom: 0.9375rem;
    }
  }

  &-disabled,
  &.disable,
  disable {
    background-color: $light-grey;
    pointer-events: none;
  }

  //text-button

  &-text {
    color: $blue;
    @extend %-regular;

    &:hover {
      background: transparent;
    }
  }

  &-text-bluegrey {
    color: $blue-grey;
    @extend %-regular;
  }
}

.button-group {
  overflow: hidden;
  margin: 1.125em 0;
  vertical-align: middle;

  & > * {
    margin: 0;
  }

  .button-text-bluegrey {
    float: left;
    margin: 0.9375rem auto;
  }

  .button {
    width: 100px;
    float: right;
  }
}
