.l-grid {
  display: grid;

  &.l-two-col,
  .l-two-col {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  &.l-three-col {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  &.auto-fit {
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-items: center;
    align-items: center;
  }

  &.grid-gap-8 {
    grid-gap: 8px;
  }

  &.grid-gap-12 {
    grid-gap: 12px;
  }

  &.grid-gap-16 {
    grid-gap: 16px;
  }
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

.extra-padding {
  padding: 0 1rem;
}

.extra-bottom-padding {
  padding-bottom: 2rem;
}

.no-margin {
  margin: 0;
}
