@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");

%-extra-bold {
  font-weight: 800;
}

%-bold {
  font-weight: 700;
}

%-semi-bold {
  font-weight: 600;
}

%-regular {
  font-weight: 400;
}

%-light {
  font-weight: 300;
}

.-tight {
  margin: 0;
}

.text-grey {
  color: $grey;
}

.text-blue {
  color: $blue;
}

.text-orange {
  color: $orange;
}

.text-extra-large {
  font-size: 1.75rem;
}

.text-small {
  font-size: 0.9375rem;
}

.text-tiny {
  font-size: 0.875rem;
}

.text-mini {
  font-size: 0.75rem;
}

.text-disable {
  color: $pale-bluegrey;
}

.light {
  @extend %-light;
}

.semi-bold {
  @extend %-semi-bold;
}

.bold {
  @extend %-regular;
}

.extra-bold {
  @extend %-bold;
}

b {
  @extend %-semi-bold;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  @extend %-extra-bold;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  @extend %-extra-bold;
}

h3 {
  font-size: 1.125rem;
  @extend %-regular;
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
}

h4 {
  font-size: 1rem;
  @extend %-light;
}

h5 {
  font-size: 0.9375rem;
  @extend %-light;
}

p {
  font-size: 1rem;
  @extend %-light;
  margin-bottom: 8px;
}

.label {
  font-size: 15px;
  @extend %-light;
  color: $blue-grey;
}
